.card-container {
    animation: fadeIn 2s;
    display: flex;
    background-color: #f2e9d3;
    height: auto;
    border-radius: 30px;
    overflow: hidden;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.card-image img {
    display: block;
    width: 100%;
    max-width: 150px;
    margin: auto;
}
@media (max-width: 768px) {
  .card-image {
    display: none;
  }
}
.card-content {
    padding: 10px;
    color: black;
    text-align: justify;
    display: flex;
    flex-direction: column;
}
.card-content h2 {
    padding: 5px;
    border-bottom: solid 5px #3f3645;
    font-size: 40px;
    margin: 0;
    color: #ba7364;
}
.card-content p {
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    padding: 5px;
}

/* MINI CARDS */
.mini-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    animation: textShadow 4s infinite;
    overflow: hidden;
}
.mini-container {
    animation: fadeIn 2s;
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
    margin-top: 0;
    min-height: 240px;
    background-color: #6d738d;
}
.mini-header h2 {
    border-bottom: solid 5px #3f3645;
    margin: 0;
    padding: 5px;
    font-size: 30px;
    color: #f2e9d3;
}
.mini-content {
    text-align: justify;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.mini-content p {
    color: #e8b85c;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mini-content a {
    color: white;
}

/* BUTTONS */
.pixel {
    background-color: #3f3645;
    color: white;
    font-size: 25px;
    width: 200px;
    font-family: "VT323", monospace;
    padding: 10px;
    border: none;
    border-radius: 30px;
}
.pixel > a {
    text-decoration: none;
}
.pixel:hover {
    color: #3f3645;
    background-color: #f2e9d3;
    transition: all 1s;
    a {color: #3f3645;}
}
.pixel:not(:hover) {
    transition: all 1s;
}
.botoes {
    display: flex;
    justify-content: space-between;
}