#login-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding: 30px;
    background-color: var(--background-color);
}

#login-left, #login-right, #login-down {
    background-color: var(--card-color);
    border-radius: 50px;
    box-shadow: none;
    border: 1px solid transparent;
    font-family: var(--font);
}

#login-left {
    h2 {
        color: var(--primary-color);
        font-size: 40px;
    }
    ion-card-title {
        font-size: 50px;
        color: var(--secondary-color);
    }
    ion-card-subtitle {
        font-size: 30px;
        color: white;
    }
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    ion-item {
        border: 1px solid var(--background-color);
        border-radius: 50px;
        padding: 5px;
        overflow: hidden;
        margin-bottom: 10px;
        background: var(--background-color);
        --background: var(--background-color);
        ion-icon {
            color: white;
            border-right: 1px solid;
            padding-right: 20px;
        }
        ion-input {
            --background: var(--background-color);
            color: white;
        }
    }
    ion-button {
        border: 1px solid transparent;
        border-radius: 50px;
        overflow: hidden;
        margin-top: 20px;
        height: 50px;
        font-size: 30px;
        font-family: var(--font);
        --background: #5642af;
        color: white;
    }
}

#login-right {
    grid-column: 2;
    grid-row: 1 / span 2;
    padding: 50px;

    background-image: url("../../../assets/img/rightcard.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    ion-card-title {
        padding: 20px;
        color: black;
        font-size: 40px;
    }
}

.glass {
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    color: black;
    p {
        font-size: 30px;
    }
}