<ion-header>
  <ion-toolbar id="header-full">
    <div id="header-content">
      <ion-title>Portal</ion-title>
      <div id="header-links">
        <ion-button>Início</ion-button>
        <ion-button>Campanhas</ion-button>
        <ion-button>Sobre</ion-button>
        <ion-button>contato</ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="container">
    <ion-card-title>Novos Sistemas Disponíveis!</ion-card-title>
    <ion-card-content>
      <a class="sistemas-hub" href="">
        <div class="card" *ngFor="let item of sistemas">
          <div class="wrapper">
            <img src="{{item.image}}" alt="" class="cover-image">
          </div>
          <img src="{{item.title}}" alt="" class="title">
          <img src="{{item.character}}" alt="" class="character">
        </div>
      </a>
    </ion-card-content>
  </ion-card>
</ion-content>